.headerBorderWrapper {
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 53.65%,
    rgba(255, 255, 255, 0) 100%
  );
  padding-bottom: 0.1rem;
  position: relative;
}
