@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000624;
  font-family: "Inter", "Courier New", Courier, monospace;
}

@layer components {
  .btn {
    @apply tw-rounded-3xl tw-py-1.5 tw-px-5 tw-font-bold tw-text-sm tw-text-white tw-capitalize hover:tw-opacity-50;
  }

  .blue-button {
    @apply tw-bg-takyon-blue-100;
  }

  .border-button {
    @apply tw-border-2 tw-border-takyon-light-100;
  }

  .white-button {
    @apply tw-bg-white tw-text-takyon-blue-100;
  }

  .active-link {
    @apply tw-text-white tw-font-bold tw-border-b-2 tw-border-takyon-blue-100 hover:tw-opacity-50;
  }

  .link {
    @apply tw-text-gray-500 tw-capitalize tw-font-medium hover:tw-opacity-50;
  }
}

button {
  &:hover {
    opacity: 0.5;
  }
}
