html,
body {
  width: 100%;
  background: #141d41;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.auth-container {
  width: 100%;
}

.auth-comp {
  width: 100%;
}

.header-container {
  display: flex;
  align-items: center;
  padding: 1em;
}

.h-logo {
  padding-left: 5em;
}

.takyon-button {
  background: #0047ff;
  color: white;
  border-radius: 3em;
}

.a-landing {
  color: white;
  padding: 0 1em;
}

.a-landing h3 {
  font-size: 1.7em;
  font-weight: 400;
  margin-bottom: 0;
}

.a-landing p {
  margin-top: 0.2em;
}

.btn-normal {
}

.btn-outlined {
}
